extends ../shared/layout.pug

block body                                
    div.page-wrapper
        div.container-fluid
            div.row.page-titles
                div.col-md-5.col-8.align-self-center
                    h3.text-themecolor.m-b-0.m-t-0 Clients
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="javascript:void(0)") Clients
                        li.breadcrumb-item.active List
            div.row
                div.col-lg-12
                    div.card
                        div.card-block
                            div.table-responsive
                                table.table
                                    thead
                                        tr
                                            th.mdl-data-table__cell--non-numeric ID
                                            th.mdl-data-table__cell--non-numeric Name
                                            th.mdl-data-table__cell--non-numeric Phone
                                            th.mdl-data-table__cell--non-numeric Email
                                            th.mdl-data-table__cell--non-numeric Background Check?
                                            th.mdl-data-table__cell--non-numeric Application?
                                    tbody
                                        for c in clients
                                            tr
                                                td.mdl-data-table__cell--non-numeric #{c.PersonID}
                                                td.mdl-data-table__cell--non-numeric #{c.FirstName} #{c.LastName}
                                                td.mdl-data-table__cell--non-numeric #{c.Phone}
                                                td.mdl-data-table__cell--non-numeric #{c.Email}
                                                td.mdl-data-table__cell--non-numeric #{c.BackgroundCheck}
                                                td.mdl-data-table__cell--non-numeric #{c.Application}

